.background_footer {
  background-image: url(../images/bg_footer.png);
  background-size: cover;
  background-repeat: repeat;
}

.btn--disable {
  background-color: #a6a8a9 !important;
  cursor: not-allowed !important;
}

.dropdown_navbar_menu {
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 999;
  visibility: hidden;
  position: absolute;
  background: #081325;
  transform: translateY(90%);
  border-top: 2px solid white;
  transition: all 0.3s ease-in-out;
}
.dropdown_navbar:hover .dropdown_navbar_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(100%);
}

.box_card_item {
  position: relative;
  overflow: hidden;
}
.box_card_item .box_card_action {
  z-index: 20;
  opacity: 0.7;
  visibility: hidden;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}
.box_card_item .box_card_mask {
  inset: 0;
  z-index: 10;
  opacity: 0.7;
  position: absolute;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255, 0.6);
}
.box_card_item:hover .box_card_mask,
.box_card_item:hover .box_card_action {
  visibility: visible;
  opacity: 1;
}
.box_card_item:hover .box_card_action {
  transform: translateY(0);
}

.ranking_top_table thead tr td {
  color: white;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #e7251d;
}
.ranking_top_table thead tr td div,
.ranking_top_table tbody tr > td > div:first-of-type {
  padding: 14px;
  text-align: center;
}

.team_member_table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
.team_member_table thead tr th,
.team_member_table tbody tr td {
  padding: 12px;
  color: white;
  text-align: center;
  background-color: #303540;
}
.team_member_table thead tr th:first-child,
.team_member_table tbody tr td:first-child {
  border-top-left-radius: 8px;
}
.team_member_table thead tr th:first-child,
.team_member_table tbody tr td:first-child {
  border-bottom-left-radius: 8px;
}
.team_member_table thead tr th:last-child,
.team_member_table tbody tr td:last-child {
  border-top-right-radius: 8px;
}
.team_member_table thead tr th:last-child,
.team_member_table tbody tr td:last-child {
  border-bottom-right-radius: 8px;
}

.menu_mobile {
  transform: translate(-100%, 0);
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu_mobile--active {
  transform: translate(0, 0);
}

.popup_center {
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(0.5);
}

.popup_center--active {
  visibility: visible;
  opacity: 1;
  z-index: 50;
  transform: translate(50%, -50%) scale(1);
}

.overlay_layer {
  visibility: hidden;
  transition: all 0.2s ease-in;
  opacity: 0.8;
}

.overlay_layer--active {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: 640px) {
}

@media screen and (min-width: 640px) and (orientation: landscape) {
}

@media screen and (min-width: 1024px) {
}
